.main-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: white;
}

.menu-btn {
  background: none;    /* Quita el fondo gris */
  border: none;        /* Quita el borde */
  display: flex;       /* Ayuda a centrar el icono */
  align-items: center;
  justify-content: center;
}

.menu-btn fa-icon {
  font-size: 2rem;
  color: #ffffff;
}
