.main-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: white;
  height: 5vh;
}

.menu-btn {
  background: none;    /* Quita el fondo gris */
  border: none;        /* Quita el borde */
  display: flex;       /* Ayuda a centrar el icono */
  align-items: center;
  justify-content: center;
}

.menu-btn fa-icon {
  font-size: 2rem;
  color: #ffffff;
}

.logo h1  {
  cursor: pointer;
  user-select: none;          /* Estándar */
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+ */
  outline: none;
}
