.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: white;
  height: 5vh;
}

.menu-btn {
  background: none; 
  border: none; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.menu-btn fa-icon {
  font-size: 2rem;
  color: #ffffff;
}

.logo h1  {
  cursor: pointer;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  outline: none;
}
