<div class="ligas-container">
    <h2 *ngIf="!loading">Competiciones disponibles para realizar pronosticos.</h2>

    <div *ngIf="loading" class="loader">
        <div class="spinner"></div>
        <p class="searching-leagues">Buscando las ligas disponibles...</p>
    </div>

    <div class="ligas-grid" *ngIf="!loading">
        <div class="liga-card" 
            *ngFor="let liga of ligas" 
            [routerLink]="['fixture/', liga.code]"> 
        
            <div class="liga-emblem">
                <img [src]="liga.emblem" [alt]="liga.name">
            </div>
            
            <h3>{{ liga.name }}</h3>

            <p class="matches-count" *ngIf="liga.matchesCount !== null">
              {{ liga.matchesCount }} Partido{{ liga.matchesCount === 1 ? '' : 's' }} hoy
            </p>
            <p class="matches-loading" *ngIf="liga.matchesCount === null">Cargando...</p>
        </div>
    </div>
</div>