.fixture-container {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #000000;
  max-width: 800px;
  min-width: 100px;
  width: 100%;
  margin: 10px auto;
  background: #ffffff;
}

.team { 
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  gap: 10px; 
  width: 40%; 
  font-size: 16px;
}

.line { 
  font-weight: bold; 
  color: #666; 
}

.team-away {
  justify-content: flex-start;
}